<!-- <div class="mt-3">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('all')"
    >
      All
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('Read')"
    >
      Read
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('reading')"
    >
      Currently Reading
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('want to read')"
    >
      Want to read
    </button>
  </div>
</div> -->
<!-- <ul class="nav nav-tabs">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('all')"
    >
      All
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('Read')"
    >
      Read
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('reading')"
    >
      Currently Reading
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onShelveSelected('want to read')"
    >
      Want to read
    </button>
  </ul> -->

<div class="sidenav">
  <button
    class="clicked"
    (click)="onShelveSelected('all'); onButtonClicked($event)"
  >
    All
  </button>
  <button (click)="onShelveSelected('Read'); onButtonClicked($event)">
    Read
  </button>
  <button (click)="onShelveSelected('reading'); onButtonClicked($event)">
    Currently Reading
  </button>
  <button (click)="onShelveSelected('want to read'); onButtonClicked($event)">
    Want to read
  </button>
</div>
