<app-user-nav-bar></app-user-nav-bar>
<div class="d-flex border-2 m-5 h-auto w-75">
  <div class="left">
    <div class="img">
      <img alt="Card" [src]="authorDetails.img" />
    </div>
  </div>
  <div class="right">
    <div class="name">name</div>
    <div>Date of Birth</div>
    <div class="url">discription</div>
  </div>
  <div class="left">
    <div class="img">
      <!-- <img alt="Card" [src]="author.image"/> -->
    </div>
  </div>
  <!-- <div class="right">
    <div class="name">{{ author.firstName + " " + author.lastName }}</div>
    <div>{{ author.dob }}</div>
    <div class="url">{{ author.description }}</div>
  </div>
</div> -->

<div>
  author books
  <hr />
  <!-- for -->
  <div class="d-flex border-2 m-5 h-auto w-75">
    <div class="left">
      <div class="left">
        <img alt="bookImag" />
      </div>
      <div class="right">
        <div>book name</div>
        <div>book rating</div>
      </div>
    </div>
    <div class="right">
      <select>
        <option>read</option>
        <option>want to read</option>
        <option>reading</option>
      </select>
    </div>
  </div>
</div>
