:root {
  --body-bg: #faf3e1;
  --gray: #373735;
  --baby-blue: #9bd3d0;
  --blue: #2d3e56;
  --royal-blue: #22ac94;
  --royal-green: #143464;
  --light-pink: #feccb5;
  --beige: #efebe0;
  --light-orange: #fec447;
  --foshia: #e41c77;
  --blue-blue: #0065a8;
}
.btn {
  color: var(--royal-green);
  border-color: var(--royal-green);
}
.btn.clicked,
.btn:hover {
  color: white;
  background-color: var(--royal-green);
}
/*
.active-btn {
  border-left: 1px solid var(--royal-blue) !important;
  border-right: 1px solid var(--royal-blue) !important;
  border-top: 1px solid var(--royal-blue) !important;
  border-bottom: 1px solid white !important;
  color: var(--royal-blue);
  font-weight: bold;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  overflow-x: hidden;
  height: 60vh;
  border: 1px solid var(--royal-green);
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
button:hover {
  background-color: rgba(72, 100, 143, 0.74);
  color: white;
}
button.clicked {
  background-color: var(--royal-green);
  color: white;
}

@media (max-width: 991px) {
  .sidenav {
    flex-direction: row;
    height: fit-content;
    padding: 0px;
  }
  button {
    background-color: transparent;
    outline: none;
    border: none;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  button:hover,
  button.clicked {
    background-color: transparent;
    color: var(--royal-green);
    font-weight: bold;
  }
} */
