<app-user-nav-bar></app-user-nav-bar>

<div class="container d-flex justify-content-center">
  <div class="row book-details">
    <div class="flex-box">
      <div class="left">
        <div class="big-img d-flex flex-column justify-content-center">
          <img
            [src]="'https://goodread-mean-iti-backendpart-3.onrender.com/images/books/' + book.image"
            style="height: 70% !important"
            alt="cover"
          />
        </div>
      </div>
      <div class="left">
        <h2 class="mb-2">{{ book.title }}</h2>
        <div>
          <a routerLink="/authors/{{ book.author.id }}" class="card-title">
            by {{ book.author.firstName }} {{ book.author.lastName }}</a
          >
        </div>
        <a routerLink="/categories/{{ book.category.id }}" class="card-title">{{
          book.category.name
        }}</a>
        <div class="d-flex align-items-center">
          <div style="display: flex; align-items: center">
            <ngb-rating
              [rate]="
                calculateAverageRating(book.totalRating, book.countOfRating)
              "
              [readonly]="readonly"
              [max]="6"
            />
          </div>

          <div class="mx-2">
            <span style="font-size: 0.8rem">{{
              averageRating?.toFixed(1)
            }}</span>
            <span style="font-size: 0.8rem"> - </span>
            <span style="font-size: 0.8rem"
              >{{ book.countOfRating }} ratings</span
            >
          </div>
        </div>

        <p>{{ book.description }}</p>
        <div class="d-flex align-items-center">
          <div ngbDropdown class="d-inline-block mx-2">
            <button
              type="button"
              class="btn btn-outline-primary p-1 mt-4"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ shelve }}
            </button>

            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="ngbDropdownMenu p-2"
            >
              <li>
                <a class="dropdown-item" (click)="onDropdownItemClicked('read')"
                  >read</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="onDropdownItemClicked('want to read')"
                  >want to read</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="onDropdownItemClicked('reading')"
                  >reading</a
                >
              </li>
            </div>
          </div>
          <div style="display: flex; align-items: center">
            <span style="display: flex; align-items: center">
              <div class="rating">
                <input
                  value="5"
                  name="rate"
                  id="star5"
                  type="radio"
                  (change)="onRatingChange(5)"
                />
                <label title="text" for="star5"></label>

                <input
                  value="4"
                  name="rate"
                  id="star4"
                  type="radio"
                  (change)="onRatingChange(4)"
                />
                <label title="text" for="star4"></label>

                <input
                  value="3"
                  name="rate"
                  id="star3"
                  type="radio"
                  (change)="onRatingChange(3)"
                />
                <label title="text" for="star3"></label>

                <input
                  value="2"
                  name="rate"
                  id="star2"
                  type="radio"
                  (change)="onRatingChange(2)"
                />
                <label title="text" for="star2"></label>

                <input
                  value="1"
                  name="rate"
                  id="star1"
                  type="radio"
                  (change)="onRatingChange(1)"
                />
                <label title="text" for="star1"></label>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reviews-section d-flex flex-column my-3">
  <div class="header d-flex mb-2">
    <h5 class="mb--20">Review</h5>
    <button class="btn btn-outline-primary mx-2 px-2" (click)="open(content)">
      Add Review
    </button>
  </div>

  @for(review of reviews; track review.id) {
  <div class="reviews d-flex flex-column">
    <div class="card mb-3">
      <div class="card-header d-flex px-4 py-1">
        <div class="img-div">
          <img
            class="reviewer-img"
            [src]="'https://goodread-mean-iti-backendpart-3.onrender.com/images/users/' + 'authorNum1.jpg'"
            alt="User Image"
          />
        </div>
        <div class="d-flex flex-column mx-3">
          <h4>{{ review.user.firstName }} {{ review.user.lastName }}</h4>
          <div style="display: flex; align-items: center">
            <ngb-rating [rate]="4" [max]="5"></ngb-rating>
          </div>
        </div>
      </div>

      <div class="card-body px-4 py-1">
        <p class="card-text">{{ review.content }}</p>
      </div>
    </div>
  </div>

  }

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Review</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form
        [formGroup]="reviewForm"
        (ngSubmit)="[addNewReview(), modal.close('Save click')]"
      >
        <div class="mb-3">
          <label for="review">Your Review</label>
          <div class="input-group">
            <textarea
              id="review"
              class="form-control"
              placeholder="your review"
              name="review"
              formControlName="review"
            ></textarea>
          </div>
          @if(reviewForm.controls['review'].invalid &&
          reviewForm.controls['review'].touched){
          <div class="form-text text-danger">
            @if(reviewForm.controls['review'].errors?.['required']){
            <small>Review is required</small>
            }
          </div>
          }
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>