<div class="card rounded-2" style="width: 18rem;">
    <span class="close">X</span>
    <img class="card-img-top w-50 h-50" src="../../../../assets/images/delete1.avif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Confirm Deleting</h5>
      <p class="card-text">Are you sure you want to delete this item</p>
      <button type="button" class="btn btn-danger  m-1" (click)="deleteBook()">Delete</button>
      <button type="button" class="btn btn-warning m-1" (click)="cancel()">Cancel</button>
    </div>
  </div>