<div class="mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="/adminControlPage"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Admin Panel</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="categoriesTable"
        routerLinkActive="active-link"
        >Categories</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="booksTable" routerLinkActive="active-link"
        >Books</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="authorsTable"
        routerLinkActive="active-link"
        >Authors</a
      >
    </li>
  </ul>
</div>
