:root {
  --body-bg: #faf3e1;
  --gray: #373735;
  --baby-blue: #9bd3d0;
  --blue: #2d3e56;
  --royal-blue: #22ac94;
  --royal-green: #143464;
  --light-pink: #feccb5;
  --beige: #efebe0;
  --light-orange: #fec447;
  --foshia: #e41c77;
  --blue-blue: #0065a8;
}
a {
  color: black;
}
a:hover {
  color: var(--royal-green);
}
.nav-tabs {
  border-bottom: 1px solid var(--royal-green);
}
.active-link {
  border-left: 1px solid var(--royal-green) !important;
  border-right: 1px solid var(--royal-green) !important;
  border-top: 1px solid var(--royal-green) !important;
  border-bottom: 1px solid white !important;
  color: var(--royal-green);
  font-weight: bold;
}
