<app-user-nav-bar></app-user-nav-bar>
<div class="container mt-3">
  <div class="row mb-5">
    @for(author of authors; track author.id) {
    <div class="col-lg-4 col-md-6">
      <div class="card" style="width: 18rem">
        <div class="img-div">
          <a>
            <img
              [src]="'https://goodread-mean-iti-backendpart-3.onrender.com/images/authors/' + author.image"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <p>
              <a routerLink="/authors/author/{{author._id}}/{{author.firstName +' ' + author.lastName}}"
                >{{ author.firstName }} {{ author.lastName }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    }
  </div>
