.navbar{
    background-color: --body-bg;
}

.nav-link :hover {
    color: rgb(236, 234, 234) !important;
  }

  nav {
    background-color: #f3faff !important;
  }
  a:hover {
    font-weight: bold;
  }
  .rounded{
    border-radius: 10px!important;
    width: 70px;
    height: 50px;
    margin: 2px;
  }