<div class="container">
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    <i class="fa-solid fa-plus"></i>
  </button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories ; track category.id){
      <tr>
        <th scope="row">{{ category.id }}</th>
        <td>{{ category.categoryName }}</td>
        <td>
          <i class="fa-solid fa-trash-can"></i>
          <i class="fa-solid fa-pen-to-square"></i>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Category</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="categoryName">Category Name:</label>
          <div class="input-group">
            <input
              id="categoryName"
              class="form-control"
              placeholder="Category Name"
              name="categoryName"
              [(ngModel)]="newCateoryName"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="[modal.close('Save click'), getNewCateogrName()]"
      >
        Save
      </button>
    </div>
  </ng-template>

  <pre>{{ closeResult }}</pre>
</div>
