:root {
  --body-bg: #faf3e1;
  --gray: #373735;
  --baby-blue: #9bd3d0;
  --blue: #2d3e56;
  --royal-blue: #22ac94;
  --royal-green: #143464;
  --light-pink: #feccb5;
  --beige: #efebe0;
  --light-orange: #fec447;
}
div {
  background-color: #f3faff;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
