<nav class="navbar navbar-expand-md navbar-light">
	<div class="container-fluid">
    <a class="navbar-brand nav-link text-black-50 " routerLink="/"> 
      <img src="../../assets/images/logo.svg" 
      style="width: 50px;height: 50px; border-radius: 50%; margin-right:6px;"> 
      <strong>Good Read</strong>
      </a>
      <button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarContent"
			[attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation"
			(click)="collapsed = !collapsed"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
    
		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown" ngbDropdown>
					<a class="nav-link" ngbDropdownToggle id="navbarDropdown1" role="button"> 
						<strong> Login </strong> 
					</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
						<a ngbDropdownItem class="nav-link drop-link text-black-50" 
            			routerLink="/adminLogin"
             			>Login as an Admin</a>
						<a ngbDropdownItem class="nav-link drop-link text-black-50" 
            			routerLink="/userLogin"
             			>Login as an User</a>
					</div>
				</li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase text-black-50" 
          routerLink="/userRegister">
           <strong> Register </strong>
          </a>
        </li>
      </ul>
		</div>
	</div>
</nav>