<nav class="navbar navbar-expand fixed-top bg-secondary">
    <div class="container">
        <a class="navbar-brand nav-link text-black " routerLink="/"> 
        <img src="../../assets/images/logo.svg" 
        style="width: 50px;height: 50px; border-radius: 50%; margin-right:6px;"> 
        <strong>Good Read</strong>
        </a>
        <ul class="navbar-nav ms-5 ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase text-black" 
            routerLink="/userLogin">
            <strong> Login </strong> 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase text-black" 
            routerLink="/userRegister">
             <strong> Register </strong>
            </a>
          </li>
        </ul>
      </div>
  </nav>
