<div class="table-add-container d-flex flex-column w-100 align-items-center">
  <table class="table rounded-corners" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">Cover</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Avg Rate</th>
        <th scope="col">Rating</th>
        <th scope="col">Shelve</th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (book of books ; track $index ) { -->
      <tr *ngFor="let book of books; let i = index">
        <td>
          <img
            [src]="
              'https://goodread-mean-iti-backendpart-3.onrender.com/images/books/' + books[i].idOfBook.image
            "
            alt="cover"
          />
        </td>

        <td>{{ book.idOfBook.title }}</td>
        <td>
          {{ books[i].idOfBook.author.firstName }}
          {{ books[i].idOfBook.author.lastName }}
        </td>
        <td>
          <ngb-rating
            [rate]="
              calculateAverageRating(
                books[i].idOfBook.totalRating,
                books[i].idOfBook.countOfRating
              )
            "
            [readonly]="readonly"
            [max]="6"
          />
        </td>
        <td>
          <ngb-rating
            [(rate)]="books[i].rating"
            [readonly]="readonly"
            [max]="6"
          />
        </td>
        <!-- <td>{{ shelve }}</td> -->
        <td>
          <!-- <select
            aria-label=".form-select-lg example"
            [(ngModel)]="selectedShelve[i]"
          >
            <option
              *ngFor="let shelveOption of shelveOptions"
              [value]="shelveOption"
            >
              {{ shelveOption }}
            </option>
          </select> -->

          <div ngbDropdown class="d-inline-block login-btn mx-2">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Shelve
            </button>

            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="ngbDropdownMenu p-2"
            >
              <li>
                <a
                  class="dropdown-item"
                  (click)="onDropdownItemClicked(books[i].idOfBook._id, 'read')"
                  >read</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="
                    onDropdownItemClicked(books[i].idOfBook._id, 'want to read')
                  "
                  >want to read</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="
                    onDropdownItemClicked(books[i].idOfBook._id, 'reading')
                  "
                  >reading</a
                >
              </li>
            </div>
          </div>
        </td>
      </tr>
      <!-- } -->
    </tbody>
  </table>

  <ngb-pagination
    class="ngb-pagination"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="booksLength"
    (pageChange)="onPageChange()"
    aria-label="Default pagination"
  />
</div>
