<div class="table-add-container d-flex flex-column w-100 align-items-center">
  <table class="table rounded-corners" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">Cover</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Avg Rate</th>
        <th scope="col">Rating</th>
        <th scope="col">Shelve</th>
      </tr>
    </thead>
    <tbody>
      <!-- @for (book of books ; track $index ) { -->
      <tr *ngFor="let book of books; let i = index">
        <td>image</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author.firstName }}</td>
        <td>
          <ngb-rating
            [(rate)]="book.valueOfRating"
            [readonly]="readonly"
            [max]="6"
          />
        </td>
        <td>
          <ngb-rating
            [(rate)]="book.countOfRating"
            [readonly]="readonly"
            [max]="6"
          />
        </td>
        <!-- <td>{{ shelve }}</td> -->
        <td>
          <!-- <select
            aria-label=".form-select-lg example"
            [(ngModel)]="selectedShelve"
          >
            @for( shelveOption of shelveOptions ; track $index){
            <option value="{{ shelveOption }}">
              {{ shelveOption }}
            </option>
            }
          </select> -->
          <select
            aria-label=".form-select-lg example"
            [(ngModel)]="selectedShelve[i]"
          >
            <option
              *ngFor="let shelveOption of shelveOptions"
              [value]="shelveOption"
            >
              {{ shelveOption }}
            </option>
          </select>
        </td>
      </tr>
      <!-- } -->
    </tbody>
  </table>

  <ngb-pagination
    class="ngb-pagination"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="booksLength"
    (pageChange)="onPageChange()"
    aria-label="Default pagination"
  />
</div>
