section {
  height: 100%;
  /* position: relative; */
}
.card-body {
  box-shadow: 1px 1px 11px 0px #9e9e9e5c;
}
.img-fluid {
  max-width: 90%;
}
button {
  border: 1px solid #e41c77 !important;
  color: #e41c77 !important;
  cursor: pointer !important;
}
button:hover {
  background-color: #ff5a6e;
  color: white !important;
  cursor: pointer;
}
label {
  background-color: transparent !important;
  color: gray !important;
}
/* input {
  padding: 1rem 0.75rem !important;
} */
