* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.header {
  background-color: rgb(242, 242, 242);
  font-size: 2rem;
  text-align: start;
}
section {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f3faff;
}
.card-body {
  box-shadow: 1px 1px 11px 0px #9e9e9e5c;
}
button {
  border: 1px solid #1817cb !important;
  color: #1817cb !important;
  cursor: pointer !important;
  padding: 5px 15px;
  margin-top: 10px;
}
button:hover {
  background-color: #1817cb;
  color: white !important;
  cursor: pointer !important;
}
.login-title {
  text-align: center;
}
.notice {
  font-size: 1.5rem;
  text-align: center;
  color: #666;
}
.loginForm {
  background-color: #e4f4e5;
  color: rgb(78, 81, 83);
  padding: 25px;
  /* margin: auto auto; */
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.form-control {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #00000063;
  margin-bottom: 20px !important;
  border-radius: 0 !important;
}
.form-control::placeholder {
  font-weight: bold;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}
.form-control:focus {
  background-color: transparent;
  outline: none;
}
/*
.invalid-feedback{
    display:block;
}*/
