
.light {
	 background: #f3f5f7;

}
 a {
	 text-decoration: none;
	 transition: color 0.3s ease-in-out;
     font-weight: bolder;
     color: rgb(25, 44, 80);
}
a:hover {
    transition: color 0.2s ease-in-out;
    color: rgb(255, 255, 255);
}
 #pageHeaderTitle {
	 text-transform: uppercase;
	 text-align: center;
	 font-size:100px;
     font-weight: bolder;
     color: rgb(25, 44, 80);
}

 .postcard {
	 flex-wrap: wrap;
	 display: flex;
	 box-shadow: 14px 14px 7px -12px rgb(0, 0, 0);
	 border-radius: 10px;
	 margin: 0 0 2rem 0;
	 overflow: hidden;
	 position: relative;
     width:600px
}
 .postcard.light {
	 background-color: #c9d3ff;
}

 .postcard .postcard__img {
	 max-height: 180px;
	 width: 100%;
	 object-fit: cover;
	 position: relative;
}

 .postcard .postcard__text {
	 position: relative;
	 display: flex;
	 flex-direction: column;
}


@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }
    .postcard .postcard__img {
        max-width: 300px;
        max-height: 300px;
        transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
        padding: 10px;
        width: 100%;
        margin: 10px;
    }
    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }
    .postcard:nth-child(odd) {
        flex-direction: row;
    }
    .postcard:nth-child(even) {
        flex-direction: row;
    }
}
.ngb-pagination{
    :host ::ng-deep .ngb-pagination .pagination {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }
      
      :host ::ng-deep .ngb-pagination .pagination .page-item .page-link {
        border-radius: 50% !important;
        border: 1px solid var(--royal-green);
        margin-right: 10px;
      }
      :host ::ng-deep .ngb-pagination .pagination li.active .page-link {
        border-radius: 50% !important;
        background-color: #ffc107 !important;
        border: 1px solid #ffc107;
        margin-right: 10px;
      }
      
      :host ::ng-deep .ngb-pagination .pagination .page-item .page-link span {
        font-size: 1.2rem;
      }
      :host ::ng-deep .ngb-pagination .pagination .page-item:last-child .page-link,
      :host ::ng-deep .ngb-pagination .pagination .page-item:first-child .page-link {
        background-color: var(--royal-green) !important;
        border: 1px solid var(--royal-green);
        color: white;
      }
      :host ::ng-deep .ngb-pagination .pagination li.disabled .page-link {
        color: gray !important;
      }
}

#postcard__subtitle{
    color: rgb(85, 89, 128);
}
#postcard__title{
    color: rgb(9, 9, 31);
}



