<!--<div *ngIf="category">
  <h2>{{ category.name }}</h2>
  <div *ngFor="let book of books">
    <div>{{ book.title }}</div>
    <div>{{ book.author.firstName }} {{ book.author.lastName }}</div>
    <img *ngIf="book.image" [src]="book.image" alt="Book Image">
  </div>
</div>

<div class="container py-4">
<h1 class="h1 text-center" id="pageHeaderTitle">My Cards Dark</h1>
<article class="postcard dark blue"  *ngIf="category" >
  <h1 class="postcard__title blue">{{ category.name }}</h1>
  <div class="postcard__text" *ngFor="let book of books">
    <a class="postcard__img_link" href="#">
      <img class="postcard__img" *ngIf="book.image" [src]="book.image" alt="Book Image" />
    </a>
    <div class="postcard__subtitle small">
        <i class="fas fa-calendar-alt mr-2"></i>{{ book.title }}
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">{{ book.author.firstName }} {{ book.author.lastName }}</div>
  </div>
</article>
</div> -->

<app-user-nav-bar></app-user-nav-bar>
<section class="light">
  <div class="container py-2">
    <div id="pageHeaderTitle" *ngIf="category">{{ category }}</div>

    <div class="row">
      <div class="col-md-6" *ngFor="let book of books; let i = index">
        <article class="postcard light blue">
          <img
            class="postcard__img"
            *ngIf="book.image"
            [src]="book.image"
            alt="Book Image"
          />
          <div class="postcard__text t-dark">
            <h1 id="postcard__title" class="blue">
              <a href="#">{{ book.title }}</a>
            </h1>
            <div id="postcard__subtitle" class="small">
              <h6>
                <a href="#"
                  >{{ book.author.firstName }} {{ book.author.lastName }}</a
                >
              </h6>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<ngb-pagination
  class="ngb-pagination"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="booksCount"
  (pageChange)="onPageChange()"
  aria-label="Default pagination"
/>
