.card{
    background-color: #f896dd;
    border: 10px solid #f896dd;
}
.card-img-top{
    height: 85%;
    width: 100%;
    border-radius:10px ;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2;
    
}
.name{
    border: none;
    font-size: 22px;
    width: 100%;
    padding: auto;
    margin: auto;
    background-color: #f896dd;
    color: #07224a;
    transition: 0.2;
    text-transform: uppercase;
}
.name :hover , .card-img-top:hover{
    opacity: 0.6;
    color: #1434649d;
    font-size: larger;
}