<!-- <nav class="navbar navbar-expand fixed-top bg-secondary">
    <div class="container">
        <a class="navbar-brand nav-link text-black " routerLink="/"> 
        <img src="../../assets/images/logo.svg" 
        style="width: 50px;height: 50px; border-radius: 50%; margin-right:6px;"> 
        <strong>Good Read</strong>
        </a>
        <ul class="navbar-nav ms-5 ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase text-black" 
            routerLink="/userLogin">
            <strong> Login </strong> 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase text-black" 
            routerLink="/userRegister">
             <strong> Register </strong>
            </a>
          </li>
        </ul>
      </div>
  </nav> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
  <div class="container">
    <div class="div">
      <a class="navbar-brand"
        ><img
          src="../../../assets/images/logo2.png"
          alt="logo"
          style="width: 10%"
      /></a>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-primary mx-2" type="submit">Login</button>
      <button class="btn btn-outline-primary" type="submit">Signup</button>
    </div>
  </div>
</nav>
