<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
  <div class="container">
    <div class="row">
      <div class="col div">
        <!-- <a class="navbar-brand"> -->
        <img src="../../../assets/images/logo2.png" alt="logo" />
        <!-- </a> -->
      </div>
      <div class="col d-flex justify-content-end">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block login-btn mx-2">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Login
              </button>

              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="ngbDropdownMenu p-2"
              >
                <a class="nav-link pb-2" aria-current="page" routerLink="admin"
                  >Admin</a
                >
                <a class="nav-link" aria-current="page" routerLink="user"
                  >User</a
                >
              </div>
            </div>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block login-btn mx-2">
          <button class="btn signup-btn" type="submit">
            <a class="nav-link" aria-current="page" routerLink="userSignUp"
              >Signup</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
