<div class="container mt-3">
  <div class="row mb-5">
    @for(book of books; track book.id) {
    <div class="col-lg-4 col-md-6">
      <div class="card" style="width: 18rem">
        <div class="img-div">
          <a>
            <img
              [src]="'http://localhost:3000/images/books/' + book.image"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <h4 class="text-center">
              <a
                routerLink="/books/book/{{ book.id }}/{{ book.title }}"
                class="card-title"
                >{{ book.title }}</a
              >
            </h4>
            <p>
              <a routerLink="/authors/author/{{ book.author.id }}"
                >{{ book.author.firstName }} {{ book.author.lastName }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    }
  </div>

  <ngb-pagination
    class="ngb-pagination"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="length"
    (pageChange)="onPageChange(page)"
    aria-label="Default pagination"
  />
</div>

<!--<div class="container text-center mt-3">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" (click)="navigateToPage(currentPage - 1)"
            >Previous</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" (click)="navigateToPage(1)">1</a>
        </li>
        <li class="page-item" [class.active]="currentPage === 2">
          <a class="page-link" (click)="navigateToPage(2)"
            >2 <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="page-item" [class.active]="currentPage === 3">
          <a class="page-link" (click)="navigateToPage(3)">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="navigateToPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>-->
